:root {
    /* Colors */

    /* Primary */
    --color-orange: hsl(31, 77%, 52%);
    --color-cyan: hsl(184, 100%, 22%);
    --color-dark-cyan: hsl(179, 100%, 13%);
    /* Neutral */
    --color-white: hsla(0, 0%, 100%, 0.75);
    --color-light-gray: hsl(0, 0%, 95%);

    /* Typography */
    --font-size-base: 15px;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-family-deca: "Lexend Deca", sans-serif;
    --font-family-shoulders: "Big Shoulders", sans-serif;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
}

input, button, textarea, select {
    font: inherit;
}

p{
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

img, video, svg {
    max-width: 100%;
    height: auto;
}

@media (prefers-reduced-motion: reduce) {
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
    
}
